<h1>Add an Source!!</h1>

<%= form_for([@source]) do |f| %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :reference %><br />
		<%= f.text_field :reference %>
	</div>
	<div class="actions">
		<%= f.submit "Add Source" %>
	</div>
<% end %>