<table class="profile" summary="Source information">
  <tr>
    <td class="main">
		Source Information!
		<h1>
			<%= @source.name %>
		</h1>		
		<%= link_to 'Edit Source', edit_source_path(@source) %>
		<p>
			Activity: <%= @source.activity %>
		</p>
		<% if @source.reference.nil? %>
			<p>
				Reference:
			</p>
		<% else %>
			<p>
				Reference: <%= link_to @source.reference, @source.reference %>
			</p>
		<% end %>
		Album(s):
		<% @albums.each do |each| %>
			<p>
				<%= link_to each.name, album_path(each) %>
			</p>
		<% end %>
		Add an Album!
		<%= render 'shared/create_album_form' %>
		<%= link_to "delete source?", @source, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@source.name}" %>
    </td>
  </tr>
</table>