<h1>Add an Artist!!</h1>

<%= form_for([@artist]) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
  	<div class="field">
		<%= f.label :reference %><br />
		<%= f.text_field :reference %>
	</div>
	<div class="actions">
		<%= f.submit "Add Artist" %>
	</div>
<% end %>