<%= form_for @album do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :releasedate, "Release Date" -%><br />
		<%= f.date_select :releasedate, :start_year => 1970, :end_year =>2020 %>
	</div>
	<div class="field">
		<%= f.label :genre %><br />
		<%= f.text_field :genre %>
	</div>
	<div class="field">
		<%= f.label "Publisher" %><br />
		<%= f.text_field :publisher %>
	</div>	
	<div class="field">
		<%= f.label "Reference" %><br />
		<%= f.text_field :reference %>
	</div>	
	<%= render 'shared/add_artist_form' %>
	<%= render 'shared/add_source_form' %>
	<div class="actions">
		<%= f.submit "Add Album" %>
	</div>
<% end %>