<h1>Edit</h1>

<%= form_for @album do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :releasedate, "Release Date" %><br />
		<%= f.date_select :releasedate %>
	</div>
	<div class="field">
		<%= f.label :genre %><br />
		<%= f.text_field :genre %>
	</div>
	<div class="field">
		<%= f.label "Publisher" %><br />
		<%= f.text_field :publisher %>
	</div>		
	<div class="field">
		<%= f.label "Reference" %><br />
		<%= f.text_field :reference %>
	</div>	
	Artist(s) (uncheck to remove):	
	<% @artists.each do |each| %>
		<div class="field">
			<%= each.name %>
			<%= hidden_field_tag each.name, 0 %>
			<%= check_box_tag each.name, 1, true  %>
		</div>
	<% end %>	
	<%= fields_for :artist do |f| %>
		<div class="field">
			<%= f.label "New Artist" %><br />
			<%= f.text_field :name %>
		</div>
	<% end %>
	Source(s) (uncheck to remove):	
	<% @sources.each do |each| %>
		<div class="field">
			<%= each.name %>
			<%= hidden_field_tag each.name, 0 %>
			<%= check_box_tag each.name, 1, true  %>
		</div>
	<% end %>	
	<%= fields_for :source do |f| %>
		<div class="field">
			<%= f.label "New Source" %><br />
			<%= f.text_field :name %>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit "Edit Album" %>
	</div>
<% end %>