<h1>Edit</h1>

<%= form_for @album, @artist do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :releasedate %><br />
    <%= f.date_select :releasedate %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :Publisher, "Publisher" %><br />
    <%= f.text_field :publisher %>
  </div>
	<%= form_for :artistship do |f| %>
		<div class="field">
			<%= f.label "THIS FIELD" %><br />
			<%= f.text_field :name %>
		</div>
	<% end %>
	<div class="actions">
    <%= f.submit "Add Album" %>
  </div>
<% end %>