<h1>Edit</h1>

<%= form_for(@album) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :releasedate %><br />
    <%= f.date_select :releasedate %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :Publisher, "Publisher" %><br />
    <%= f.text_field :publisher %>
  </div>
	<div class="field">
		<%= f.label :Artistship, "THIS FIELD" %><br />
		<%= select_tag :artist_id, options_for_select(Artist.all.collect {|artist| [artist.name, artist.id]}, @artist_list), :multiple => true, :prompt => 'Select Artist(s)' %>
		</div>
	<div class="actions">
    <%= f.submit "Add Album" %>
  </div>
<% end %>