<table class="profile" summary="Album information">
  <tr>
    <td class="main">
		~Album Information!~
		<h1>
			<%= @album.name %>
		</h1>
		<%= link_to 'Edit Album', edit_album_path(@album) %>
		<p> 
			Release Date: <%= @album.releasedate %>
		</p>
		<p>
			Publisher: <%= @album.publisher %>
		</p>
		<% if @album.reference.nil? %>
			<p>
				Reference:
			</p>
		<% else %>
			<p>
				Reference: <%= link_to @album.reference, @album.reference %>
			</p>
		<% end %>
		Artist(s):
		<% @artists.each do |each| %>
			<p>	
				<%= link_to each.name, artist_path(each) %>
			</p>
		<% end %>
		Source(s):
		<% @sources.each do |each| %>
			<p>	
				<%= link_to each.name, source_path(each) %>
			</p>
		<% end %>
		<p>
			<%= link_to "delete album?", @album, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@album.name}" %>
		</p>
    </td>
  </tr>
</table>